{{/* Adapted from https://harrycresswell.com/articles/cloudinary/ */}}
<figure class="cloudinary-figure">
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- if $caption -}}
{{ else }}
    {{- if not $alt -}}
        {{- errorf "%s has neither an alt tag nor a caption! All images must have one of either for accessibility." $src -}}
    {{- end -}}
{{- end -}}
<img data-src="{{ partial "cloudinary-url.html" (dict "context" . "src" $src) }}" class="cld-responsive" alt="{{ $alt }}">
{{- if $caption -}}
<figcaption>{{ $caption }}</figcaption>
{{- end -}}
</figure>
